@font-face {
    font-family: "Simonetta";
    src: url('fonts/Simonetta-Black.ttf');
}

@font-face {
	font-family: "Trebuchet MS";
	src: url('fonts/Trebuchet-MS.ttf');
}

@font-face {
	font-family: "Gill Sans";
	src: url('fonts/GillSansStd.otf');
}


body {
  background: #eef1f3;
}


h1 {
	font-family: "Gill Sans";
	margin-top: 40px;
	margin-left: 40px;
}

.book {
	margin-top: 60px;
	margin-bottom: 60px;
}

.book:after {
  content: "";
  display: table;
  clear: both;
}

.progress-wrapper {
	margin: 20px 40px 20px 40px;
	float: left;
}

.progress-text {
	font-family: "Trebuchet MS";
	font-size: 13pt;
	display: block;
	margin-left: 3px;
	margin-bottom: 5px;
}

.progress-bar {
  border-radius: 60px;
  overflow: hidden;
  height: 100%;
}
.progress-bar span {
  display: block;
}

.bar {
  background: rgba(0, 0, 0, 0.075);
}

.progress {
  background: #75b800;
  color: #fff;
  height: 15px;
}
